apiVersion: v1
kind: Service
metadata:
  name: ria-frontend
  labels:
    app: ria-frontend
spec:
  type: ClusterIP
  selector:
    app: ria-frontend
  ports:
    - name: http
      port: 80
      targetPort: 8080

